@import "src/styles/variables";

.header {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    justify-content: space-between;
    height: 6rem;
    background-color: $secondaryColor;
    border-radius: 0rem 0rem 1rem 1rem;
}

.header__title {
    font-size: 3rem;
}